@font-face {
  font-family: "GT Walsheim Pro";
  src: url("GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"), url("GTWalsheimPro-Regular.eot?#iefix") format("embedded-opentype"), url("GTWalsheimPro-Regular.woff2") format("woff2"), url("GTWalsheimPro-Regular.woff") format("woff"), url("GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
